<!DOCTYPE html>
<html>
    <head>
        <title>위험행동 종류</title>
        <meta charset="utf-8">
        <link href="../static/css/hpcrime.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>위험행동 종류</h1>
            <p>CrimeCatchCam이 인식하는 위험행동의 종류들을 설명하는 페이지</p>
        </header>
        <hr>
        <section>
            <article>
                <h3>폭행</h3>
                <p>남을 거칠고 사납게 제압할 때에 쓰는, 주먹이나 발 또는 몽둥이 따위의 수단이나 힘 <br>
                    우리의 경우에는 주먹질이나 발차기가 한 번이라도 발생하면 폭행이라고 간주</p>
            </article>
            <article>
                <h3>실신</h3>
                <p>병이나 충격 따위로 정신을 잃는 것<br>
                    우리의 경우에는 서있던 사람이 픽 쓰러지는 것을 기준으로 함</p>
            </article>
        </section>
        <br>
        <footer>
            Copyright 2021 CrimeCatchCam
        </footer>
    </body>
</html>