h1 {
    text-align: center;
}
nav {
    width: 30%; height: 70%;
    float: right;
    overflow: hidden;
}
#button {
    text-decoration: none;
    color: white;
}
td {
    background-color: rgb(0, 0, 138);
    padding: 5px 10px;
    text-align: center;
}
#iframeImage {
    width: 700px;
    height: 350px;
}
#iframeAction {
    height: 50px;
}
#iframeTime {
    height: 50px;
}
footer {
    background-color: lightgray;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}